---
all:
  vars:
    ansible_user: ubuntu
    ensure_keys_for: [root]

    ensure_hostname: true
    ensure_hosts: true

    unattend_disable: true
    update_pkg_cache: true
    features:
      evpn: false

    scw_flexible_ip_token: '${flexible_ip_token}'
    scw_flexible_ip_zone: '${zone}'
    scw_flexible_ip_network_mask: '255.255.255.255'
    scw_flexible_ip_gateway: '${frontend_gateway}'
    scw_flexible_ip_dns: ${flexible_ip_dns}
    scw_project_id: '${project_id}'

    one_version: '7.0.0'
    one_pass: '${one_password}'
    db_backend: MariaDB

    vn:
      pubridge:
        managed: true
        template:
          VN_MAD: bridge
          PHYDEV: ${frontend_interface_pub}
          BRIDGE: br0
          AR:
            TYPE: IP4
            IP: ${split("/", frontend_ip_flexible)[0]}
            SIZE: 1
            MAC: "${frontend_ip_flexible_mac}"
          DNS: 1.1.1.1
          NETWORK_MASK: 255.255.255.255
          GATEWAY: ${flexible_ip_gateway}
          FILTER_IP_SPOOFING: 'NO'
          FILTER_MAC_SPOOFING: 'NO'

      vxlan:
        managed: true
        template:
          VN_MAD: vxlan
          PHYDEV: vmtovm
          BRIDGE: vmtovm0
          AUTOMATIC_VLAN_ID: 'YES'
          FILTER_IP_SPOOFING: 'NO'
          FILTER_MAC_SPOOFING: 'NO'
          GUEST_MTU: 1450
          AR:
            TYPE: IP4
            IP: 10.1.2.100
            SIZE: 48
          NETWORK_ADDRESS: 10.1.2.0
          NETWORK_MASK: 255.255.255.0
frontend:
  hosts:
    fe:
      ansible_ssh_host: ${frontend_ip_public}
      ansible_host: ${frontend_ip_private}
      ansible_environment:
        ONE_AUTH: /var/lib/one/.one/one_auth
      scw_server_id: ${frontend_server_id}

node:
  hosts:
    fe:
      ansible_ssh_host: ${frontend_ip_public}
      ansible_host: ${frontend_ip_private}
      ansible_environment:
        ONE_AUTH: /var/lib/one/.one/one_auth
      scw_server_id: ${frontend_server_id}
%{ for i, ip in worker_ips ~}
    host0${i + 1}:
      ansible_ssh_host: ${ip}
      ansible_host: ${private_worker_ips[i]}
      scw_server_id: ${worker_server_ids[i]}
%{ endfor }
